body {
    margin: 0%;
    padding: 0%;

}


header {
    background-color:rgb(8, 136, 145);
}


.carousel-caption {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section {
    background-color:rgb(8, 136, 145);

}

.sobre-mi {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}

.Guido {
    height: auto;
    max-width: 500px;
}

.Formulario {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.Ubicacion {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.whatsapp {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.facebook {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.instagram {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.linkedin {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}